{% load static %}
{% block menu_admin %}


  <li>

    <a href="{%url 'inicio' %}">
      <span>Inicio</span>
    </a>
  </li>

  <li class="sidebar-menu  has-sub">
    <a href="#" class='sidebar-link'>
      <i class="far fa-clipboard"></i>
      <span>Registrar</span>
    </a>

    <ul class="sidebar-submenu ">

      <li>
        <a href="{%url 'proveedor' %}">Proveedor</a>
      </li>
      <li>
        <a href="{%url 'pais' %}">Pais</a>
      </li>
      <li>
        <a href="{% url 'vercliente' %}">Cliente</a>
      </li>
      <li>
        <a href="{% url 'ciudad' %}">Ciudad</a>
      </li>

    </ul>

  </li>

  <li>
    <a href="{%url 'product'%}">
      <i class="fas fa-wind"></i>
      <span>Producto</span>
    </a>
  </li>

  <li>
    <a href="{%url 'modproducto' 0 %}">
      <i class="fas fa-truck-moving"></i>
      <span>Compras</span>
    </a>
  </li>
  
  <li>
    <a href="{%url 'venta' %}">
      <i class="fas fa-cart-arrow-down"></i>
      <span>Venta</span>
    </a>
  </li>
  <li>
    <a href="{%url 'r_venta' %}">
      <i class="fas fa-file-alt"></i>
      <span>Registros de Ventas</span>
    </a>
  </li>

  <li>
    <a href="{% url 'fondos' %}">
      <i class="fas fa-money-bill-wave"></i>
      <span>Fondos</span>
    </a>
  </li>

  <li>
    <a href="{% url 'Auditoria' %}">
      <i class="fas fa-universal-access"></i>
      <span>Auditoria</span>
    </a>
  </li>

  <li>
    <a href="{% url 'verusuario' %}">
      <i class="fas fa-user"></i>
      <span>Usuarios</span>
    </a>
  </li>


{%endblock%}