{% load static %}
{% block menu_admin %}


<li>

  <a href="{%url 'port' %}">
    <i class="fas fa-home"></i>
    <span>Inicio</span>
  </a>
</li>

<li>
  <a href="{% url 'vercliente' %}">
  <i class="fas fa-wind"></i>
  <span>Cliente</span>
  </a>
</li>


<li>
  <a href="{%url 'product'%}">
    <i class="fas fa-wind"></i>
    <span>Producto</span>
  </a>
</li>

<li>
  <a href="{%url 'compras'  %}">
    <i class="fas fa-truck-moving"></i>
    <span>Compras</span>
  </a>
</li>

<li>
  <a href="{%url 'venta' %}">
    <i class="fas fa-cart-arrow-down"></i>
    <span>Venta</span>
  </a>
</li>
<li>
  <a href="{%url 'r_venta' %}">
    <i class="fas fa-file-alt"></i>
    <span>Registros de Ventas</span>
  </a>
</li>

<li>
  <a href="{% url 'fondos' 1 %}">
    <i class="fas fa-money-bill-wave"></i>
    <span>Fondos</span>
  </a>
</li>




{%endblock%}