{% load static %}
{% block menu_admin %}

<li>

  <a href="{%url 'port' %}">
    <span>Inicio</span>
  </a>
</li>

<li>
  <a href="{% url 'vercliente' %}">
    <i class="fas fa-user"></i>
    <span>clientes</span>
  </a>
</li>


</ul>

<li>
  <a href="{%url 'product'%}">
    <i class="fas fa-wind"></i>
    <span>Producto</span>
  </a>
</li>
<li>
  <a href="{% url 'movimiento_caja' %}">
    <i class="fas fa-money-bill-wave"></i>
    <span>Fondos</span>
  </a>
</li>
<li>
  <a href="{%url 'venta' %}">
    <i class="fas fa-cart-arrow-down"></i>
    <span>Ventas</span>
  </a>
</li>





{%endblock%}