{%extends "index.html"%}

{%block formulario%}

{%load static%}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form class="abrir-caja-input" action="{% url 'abrir_caja' caja_actual %}" id="formCliente" method="POST">
                    <div>
                        {% csrf_token %}
                        <input style="display: none;" name="nombredelusuario" value="{{nombre_completo}}">>


                        <label for="ingresar-nombre"> Ingresar monto para abrir la caja </label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" name="entrada_caja"
                            value="{{parameters.datos_act.entrada_caja}}">

                        {% for lista in parameters.listausuario %}
                        <input value="{{lista.codigo_usuario}}" {% if
                            lista.codigo_usuario == parameters.datos_act.nombre_usuario_id%} {{lista.nombre_usuario}} {%
                            endif %} style="visibility: hidden;">
                        </input>
                        {% endfor %}

                        <div class="form-group form-default mb-3">
                            <label class="float-label">Fecha de Apertura</label>
                           
                            <input type="date"  id="fecha" name="fecha" class="form-control" value="{{parameters.datos_act.fecha_caja}}">
                        </div>
                        <input type=" text" id="currentTime" name="hora_caja" value="{{parameters.datos_act.hora_caja}}"
                            style="visibility: hidden;">
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="salida_caja"
                            value="-----" style="display: none;">
                        <input style="display: none;" name="tipo_mov" value="2" type="number">

                    </div>
                    <div class="clearfix mb-12 text-muted" style="display: flex;justify-content: end;padding: 1em 0;">

                        <button class="btn-guardar" style="margin-right: 5px; margin-top: -1px;" type="submit" onclick="checker()">
                            Abrir
                        </button>
                        
                        <a href="{% url 'movimiento_caja' %}">
                            <span> Volver</span>
                        </a>
                    </div>
            </form>
        </div>
    </div>
</div>
<script>
    var inputFecha = "fecha"  //COLOCAR ID DEL INPUT DE FECHA
    window.onload = completarHoraInicio(document.getElementById(inputFecha))
  
    function completarHoraInicio(event){
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth()+1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if(dia<10)
          dia='0'+dia; //agrega cero si el menor de 10
        if(mes<10)
          mes='0'+mes //agrega cero si el menor de 10
        event.value=ano+"-"+mes+"-"+dia;
    }
  </script>

<script>
    var today = new Date();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    document.getElementById("currentTime").value = time;
</script>
<script>
    function checker() {
        var result = confirm('Estas seguro que quieres abrir la caja?');
        if (result == false) {
            event.preventDefault();
        }
    }
</script>
</body>
{%endblock%}

{%block extra%}

{%endblock%}