{%extends "index.html"%}

{%block formulario%}

{%load static%}

<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lista De Clientes Alterados
      </h5>
      <div class="table-responsive">
        <table class="table" id="datos2">
          <thead>
            <tr>
              <th>Id</th>
              <th>RUC</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Telefono</th>
              <th>Nacionalidad</th>
              <th>Ciudad</th>
              <th>Nombre del Usuario</th>
            </tr>
          </thead>
          <tbody>
            {% for lista in parameters.listacliente %}

            <tr>
              <td>{{ lista.codigo_cliente }}</td>
              <td>{{ lista.ruc_cliente }}</td>
              <td>{{ lista.nombre_cliente }}</td>
              <td>{{ lista.apellido_cliente }}</td>
              <td>{{ lista.telefono_cliente }}</td>
              
              {% for nacio in parameters.listapai %}
              {% if nacio.codigo_nacionalidad == lista.nacionalidad_id %}
              <td>{{ nacio.nacionalidad }}</td>
              {%endif%}
              {%endfor%}

              {% for ciu in parameters.listaciu %}
              {% if ciu.codigo_ciudad == lista.ciudad_id %}
              <td>{{ ciu.ciudad }}</td>
              {%endif%}
              {%endfor%}
              <td>{{ lista.nombre_usuario }}</td>
            </tr>
            {% endfor %}
            

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista De Proveedores Alterados
        </h5>
        <div class="table-responsive">
          <table class="table" id="datos">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Ruc</th>
                <th>Telefono</th>
                <th>Nacionalidad</th>
                <th>Ciudad</th>
                <th>Nombre del Usuario</th>
              </tr>
            </thead>
            <tbody>
              {% for lista in parameters.listaprove2 %}
  
              <tr>
                <td>{{ lista.codigo_proveedor }}</td>
                <td>{{ lista.nombre_proveedor }}</td>
                <td>{{ lista.ruc_proveedor }}</td>
                <td>{{ lista.telefono_proveedor }}</td>
  
                {% for nacio in parameters.listapai %}
                {% if nacio.codigo_nacionalidad == lista.nacionalidad_id %}
                <td>{{ nacio.nacionalidad }}</td>
                {%endif%}
                {%endfor%}
  
                {% for ciu in parameters.listaciu %}
                {% if ciu.codigo_ciudad == lista.ciudad_id %}
                <td>{{ ciu.ciudad }}</td>
                {%endif%}
                {%endfor%}
                <td>{{ lista.nombre_usuario }}</td>
                
              </tr>
              {% endfor %}
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista De Productos Alterados
        </h5>
        <div class="table-responsive">
          <table class="table" id="datos3">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio/compra</th>
                <th>Precio/venta</th>
                <th>Categoria</th>
                <th>Cantidad</th>
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Nombre del Usuario</th>
              </tr>
            </thead>
            <tbody>
              {% for lista in parameters.listatabla %}
              <tr>
                <td>{{ lista.codigo_productos }}</td>
                <td>{{ lista.nombre_productos }}</td>
                <td>{{ lista.preciocompra_productos }}</td>
                <td>{{ lista.precioventa_productos }}</td>
                <td>{{ lista.categoria_productos }}</td>
                <td>{{ lista.cantidad_productos }}</td>
                {% for prov in parameters.listaprove %}
                {% if prov.codigo_proveedor == lista.nombre_proveedor_id %}
                <td>{{ prov.nombre_proveedor }}</td>
                {%endif%}
                {%endfor%}
                <td>{{ lista.fecha_productos }}</td>
                <td>{{ lista.nombre_usuario }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>

</body>
{%endblock%}

{%block extra%}


  <script>
    $(document).ready(function () {
      $('#datos3').DataTable({
        "language": {
          "emptyTable": "No existen registros a exponer.",
          "info": "",
          "infoEmpty": "",
          "infoFiltered": "",
          "infoPostFix": "",
          "thousands": ".",
          "lengthMenu": "Registros a mostrar _MENU_",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "No se obtuvo ninguna coincidencia",
          oPaginate: {
            sNext: '<i class="fas fa-arrow-circle-right"></i>',
            sPrevious: '<i class="fas fa-arrow-alt-circle-left"></i>',
            sFirst: '<i class="fa fa-step-backward"></i>',
            sLast: '<i class="fa fa-step-forward"></i>'
          }
        }
      });
    });
  </script>
<script>
  $(document).ready(function () {
    $('#datos2').DataTable({
      "language": {
        "emptyTable": "No existen registros a exponer.",
        "info": false,
        "infoEmpty": "",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ".",
        "lengthMenu": "Registros a mostrar _MENU_",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": false,
        "zeroRecords": "No se obtuvo ninguna coincidencia",
        oPaginate: 
          false
      }
    });
  });
</script>

{%endblock%}