{%extends "index.html"%}

{%block formulario%}

{%load static%}

<!--End topbar header-->


<body>

    <div class="card">
        <div class="card-header card-header-info">
          <p>
          <h4 class="card-title "> Dinero en caja  </h4>
          <h4 class="card-title "> {{total}}  </h4>
          </p>
    <form action="{% url 'fondos' 1 %}" method="POST">
        {% csrf_token %} 

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="bmd-label-floating">Deuda Actual</label>
                <input type="number" id="resultado" class="form-control" name="total" required value="{{total}}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="bmd-label-floating">Carga para agregar</label>
                <input type="number" id="numer2" class="form-control" value="0">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="bmd-label-floating">Motivo</label>
                <input type="text" id="" class="form-control" name="Motivo" required value="">
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <a class="btn btn-success pull-left" onclick="sumar();">Cargar en Caja</a>
        </div>
        <div class="col-md-3">
    
    
            <a class="btn btn-danger pull-left" onclick="restar();">Retirar de Caja</a>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success pull-right">Guardar Cambios </button>
    
        </div>
    </div>
    
    
    
    </form></div>

        
       
        <div class="card-body" style="overflow-y:auto;">

            <table class="table table-striped dataTable-table" id="tabla" style="width:100%">
                <thead>
                    <tr>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Usuario</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Fecha</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Hora</a></th>

                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Motivo</a>
                        </th>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Entrada</a>
                        </th>
                        <th data-sortable="" style="width: 23.2012%;"><a href="#" class="dataTable-sorter">Salida</a>
                        </th>
                       
                    </tr>
                </thead>
                {%for lista in listatabla %}
                    <tr>
                        
                        {%for usuario in listausuario %}
                        {%if usuario.codigo_usuario == lista.codigo_usuario%}
                        <td>{{usuario.nombre_usuario}}</td>
                        {%endif%}
                        {%endfor%}
                        <td>{{lista.fecha_caja}}</td>
                        <td>{{lista.hora_caja}}</td>
                        {% if lista.motivo_caja == null %}
                        <td>--------</td>
                        {% else %}
                        <td>{{lista.motivo_caja}}</td>
                        {% endif %}
                        {% if lista.monto_caja == none %}
                        <td>0</td>
                        {% else %}
                        <td id="entrada_caja1">{{lista.monto_caja}}</td>
                        {% endif %}
                        {% if lista.monto_caja == null %}
                        <td>0</td>
                        {% else %}
                        <td id="salida_caja1" >-{{lista.monto_caja}}</td>
                        {% endif %}
                    </tr> 

                {%endfor %} 
                           
               
            </table>


        </div>
        <div>
          
        </div>  
    </div>
</body>


<script>
    function checker() {
        var result = confirm('Estas seguro que quieres abrir la caja?');
        if (result == false) {
            event.preventDefault();
        }
    }
</script>
<script>
    // si la respuesta que se espera es sumar
    function restar() {
        var numero1 = document.getElementById('resultado').value;
        var numero2 = document.getElementById('numer2').value;

        if (numero1 !== '' && numero2 !== '') {
            var suma = (parseFloat(numero1) - parseFloat(numero2));

            document.getElementById('resultado').value = suma;
            document.getElementById('resultado2').value = suma;
        }
    }
</script>
<script>
    // si la respuesta que se espera es sumar
    function sumar(){
        var numero1 = document.getElementById('resultado').value;
        var numero2 = document.getElementById('numer2').value;

        if(numero1!=='' && numero2!==''){
            var suma = (parseFloat(numero1)+parseFloat(numero2));

            document.getElementById('resultado').value = suma;
            document.getElementById('resultado2').value = suma;
        }
    }
    </script>
    <script>
      // si la respuesta que se espera es sumar
      function restar(){
          var numero1 = document.getElementById('resultado').value;
          var numero2 = document.getElementById('numer2').value;

          if(numero1!=='' && numero2!==''){
              var suma = (parseFloat(numero1)-parseFloat(numero2));

              document.getElementById('resultado').value = suma;
              document.getElementById('resultado2').value = suma;
          }
      }
  </script>
{%endblock%}

{%block extra%}


{%endblock%}