{%extends "index.html"%}

{%block formulario%}

{%load static%}


<body>
<div class="comtainer-fluid">
  <div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header">Cliente
          <div class="forma">
            <div>
              <label for="ingresar-nombre">RUC de cliente </label>
              <input type="text" class="form-control" id="ruc_cliente" onfocusout="traerCliente(this)">
            </div>
            <div class="clientept">
              <label for="ingresar-nombre" id="nombre_cliente">Nombre del Cliente: </label>
            </div>
            <label for="Seleccionar-Nacionalidad">Metodo de Pago</label>
              <select class="custom-select custom-select-sm form-control form-control-sm" name='nombre' id="codigo_pay">
                {%for pago in parameters.listapay%}
                <option value="{{pago.id}}" {%if parameters.pay_id == pago.id %} selected {%endif%} id="codigo_pay" >
                  {{pago.name}}
                </option>
                {%endfor%}
              </select>
          </div>
        </div>
      
    </div>
  </div>
</div>
<!--End topbar header-->
<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-lg-6 col-xl-6">
        <div class="card">
          
          <div class="item">
            <section class="store">
              <div class="card-header">Productos
                <div class="table-responsive">
                  <table class="table" id="item">
                    <thead>
                      <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Agregar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for lista in parameters.listatabla %}
                      <tr class="item">
                        <td class="item-id">{{ lista.codigo_productos }}</td>
                        <td class="item-title">{{ lista.nombre_productos }}</td>
                        <td class="item-price">{{ lista.precioventa_productos }}</td>
                        <td>{{ lista.cantidad_productos }}</td>
                        <td><a data-toggle="tooltip" data-original-title="Agregar" type="button"
                            class="item-button btn btn-primary addToCart">
                            <i class="fas fa-plus-square"></i>
                          </a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="card">
            <section class="shopping-cart">
              <div class="container">
                <h1 class="text-center">Carrito</h1>
                <hr>
                <div class="row">
                  <div class="col-2">
                    <div class="shopping-cart-header">
                      <h6>Id</h6>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="shopping-cart-header">
                      <h6>Producto</h6>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="shopping-cart-header">
                      <h6 class="text-truncate">Precio</h6>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="shopping-cart-header">
                      <h6>Cantidad</h6>
                    </div>
                  </div>
                </div>
                <!-- ? START SHOPPING CART ITEMS -->
                <div class="shopping-cart-items shoppingCartItemsContainer">
                </div>
                <!-- ? END SHOPPING CART ITEMS -->

                <!-- START TOTAL -->
                <div class="row">
                  <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                      <p class="ml-2 mb-0">Total</p>
                      <p class="ml-4 mb-0 shoppingCartTotal" id="total">0</p>
                      <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="2000">
                        <div class="toast-header">
                          <span>✅</span>
                          <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="toast-body text-white">
                          Se aumentó correctamente la cantidad
                        </div>
                      </div>
                      <button class="btn btn-success ml-auto comprarButton" type="sumit" data-toggle="modal"
                        data-target="#comprarModal">Limpiar</button>
                    </div>
                  </div>
                </div>
                <form class="venta" id="formCliente">
                  <input type="text" id="resultado" name="resultado" value="resultado" style="display: none;">
                  <input type="text" id="codigo" name="codigo" value="codigo" style="display: none;">
                  <input type="text" id="precio" name="precio" value="precio" style="display: none;">
                  <input type="text" id="canti" name="canti" value="canti" style="display: none;">
                  
                  <button class="btn-guardar" id="cargar" style="margin-right: 5px; margin-top: -1px;" type="button">
                    Finalizar compra
                  </button>
                </form>
              
              <!-- END TOTAL -->

              <!-- START MODAL COMPRA -->
              <div class="modal fade" id="comprarModal" tabindex="-1" class="aria-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="comprarModalLabel">A vaciado el carrito Correctamente</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Realice un nuevo carrito</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END MODAL COMPRA -->


            </div>

          </section>

        </div>
      </div>
   
  </div>
</div>
<!--End wrapper-->

<script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>
<script>
    function alerta() {
    if (sessionStorage.getItem('1') == 1) {
      Swal.fire({
        icon: 'success',
        title: 'Aviso',
        text: 'Registro guardado existosamente.',
        showConfirmButton: false,
        timer: 2000
      }).then(() => {
      })
      sessionStorage.setItem('1', 0)
    }
  }
</script>
</body>
<script>
  window.onload = alerta()
  function traerCliente(event) { //event es el input donde se carga el valor
    var flag = false
    var nCliente = document.getElementById("nombre_cliente") //traigo el label que se va a modificar con el nombre del cliente
    {% for cliente in parameters.listacliente %}
    var r_cliente = "{{cliente.ruc_cliente}}"   //se trae cedula del cliente

    if (event.value == r_cliente) { //se compara si las cedulas de la base de datos coincide con el del input
      nCliente.innerHTML = "Nombre del Cliente: {{cliente.nombre_cliente}} {{cliente.apellido_cliente}}"   //si coincide se carga el nombre al label
      flag = true
    }

    if (!flag) {
      nCliente.innerHTML = "Nombre del Cliente: No existe ese cliente"//si coincide se muestra el mensaje en el label
    }
    {% endfor %}

    if (event.value == '') { //si el input esta vacio el label se vaciara tambien
      nCliente.innerHTML = "Nombre del Cliente:  "
    }
    
  }

  //DATOS FACTURA COMPRA DETALLE \\OBS: todos los atributos son extraidos de tienda.js\\
	var unidades = document.getElementsByClassName("shoppingCartItem")
	var codigos = document.getElementsByClassName("idDeUnidad")
	var cantidades = document.getElementsByClassName("cantidadDeUnidad")
	var precios = document.getElementsByClassName("precioDeUnidad")

	document.getElementById("cargar").addEventListener("click", () => {   //Funcion que controla cuando se hace click en comprar
		sessionStorage.setItem('1', 1)  //Se le dice al cookie de las alertas que cambie su valor a 1

    //DATOS FACTURA COMPRA
    var ruc_cliente = document.getElementById("ruc_cliente").value//Trae RUC del Cliente
    var codigo_pay = document.getElementById("codigo_pay").value   //Trae id del pago
    var total = document.getElementById("total").innerText.replaceAll(" Gs", "")  //Trae el Total de Venta
    var iva10 = parseInt(total) / 11  //Calula el IVA 10% a partir del Total de Venta
    var id_cliente = "" //Se crea variable para traer el codigo_cliente a través de su RUC \\OBSERVACION: id_cliente es simplemente un nombre generico, es decir que no se trae el id del cliente, sino su codigo\\ 

		{% for cliente in parameters.listacliente %}  //Iniciamos ciclo FOR de la tabla de clientes
			if("{{cliente.ruc_cliente}}" == ruc_cliente ) { //Verificamos si el cliente introducido existe en la tabla de clientes
				id_cliente = "{{cliente.codigo_cliente}}" //Si el cliente existe, se carga la variable id_cliente con el valor codigo_cliente
			}
		{% endfor %}
		
			$.ajax({  //Iniciando funcion de AJAX donde enviamos la venta
			url: "{% url 'venta' %}", //Direccion a donde AJAX debe enviar los datos
			type: 'POST', //El metodo de envio. En este caso POST, porque enviamos datos a la base
			data:{  //variables que seran enviadas al VIEWS dentro de los request.POST.get("")
				'codigo_cliente': id_cliente,
				'iva10_factura_venta': iva10,
				'total_factura_venta': total,
        'jsid':codigo_pay,
				'csrfmiddlewaretoken': '{{csrf_token}}' //CSRF_TOKEN que se suele utilizar en todos los FORMS
			},
			success: //Si se envian correctamente ejecutamos lo que se encuentre dentro de SUCCESS
				function(data){ //Funcion que envia el DETALLE de la venta
					for(let i=0; i < unidades.length; i++) {  //Iniciamos un for que utiliza la variable *unidades*. Esta variable almacena todos los elementos cargados y utilizamos el atributo *lenght* para contabilizar esos elementos
						$.ajax({  //Iniciando nuevamente funcion AJAX
							url: "{% url 'venta_detalle' %}", //Direccion a donde AJAX debe enviar los datos
							type: 'POST', //El metodo de envio. En este caso POST, porque enviamos datos a la base
							data:{ //variables que seran enviadas al VIEWS dentro de los request.POST.get("")
								'id_producto_id': codigos[i].innerText,
								'cant_producto': cantidades[i].value,
								'subtotal_factura_venta': parseInt(cantidades[i].value) * parseInt(precios[i].innerText),
								'csrfmiddlewaretoken': '{{csrf_token}}'
							},
							success: //Si se envian correctamente ejecutamos lo que se encuentre dentro de SUCCESS
								function(data){
									if ((unidades.length - 1) == i){  //Cuando el for recorra el ultimo elemento cargado, se redireccionara al usuario
										location.href = './venta'
									}
								}
						})
					}
				}
			})
	})
</script>
{%endblock%}

{%block extra%}
<script>
  $(document).ready(function () {
    $('#item').DataTable({
      "language": {
        "emptyTable": "No existen registros a exponer.",
        "info": "",
        "infoEmpty": "",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ".",
        "lengthMenu": "Registros a mostrar _MENU_",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se obtuvo ninguna coincidencia",
        oPaginate: {
          sNext: '<i class="fas fa-arrow-circle-right"></i>',
          sPrevious: '<i class="fas fa-arrow-alt-circle-left"></i>',
          sFirst: '<i class="fa fa-step-backward"></i>',
          sLast: '<i class="fa fa-step-forward"></i>'
        }
      }
    });
  });
</script>

{%endblock%}