{%extends "index.html"%}

{%block formulario%}

{%load static%}


<div class="comtainer-fluid">
  <div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
      <div class="card-header">Cliente
        <div class="forma">
          <label for="ingresar-ruc">Ruc de Cliente</label>
          <input type="text" class="form-control" id="formGroupExampleInput1" name='ruc' value="{{datos_act.ruc_cliente}}">

        </div>
      </div>
    </div>
  </div>
</div>
<!--End topbar header-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-header">Productos
          <div class="table-responsive">
            <table class="table" id="datos">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {% for lista in parameters.listatabla %}
                <tr>
                  <td>{{ lista.codigo_productos }}</td>
                  <td>{{ lista.nombre_productos }}</td>
                  <td>{{ lista.precioventa_productos }}</td>
                  <td><input id="number" type="number" value="0" style="width: 5em;" class="form-control"></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-header">Factura
          <div class="card-action">




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--End wrapper-->

</body>
{%endblock%}

{%block extra%}

{%endblock%}