{%extends "index.html"%}

{%block formulario%}

{%load static%}

<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{titulo_f}}</h5>


      <body class="bg-theme bg-theme1">
        <form action="{% url 'modproducto' parameters.prod_actual %}" method="POST" onsubmit="sessionStorage.setItem('1', 1);">
          {% csrf_token %}


          <div class="forma">
            <label for="ingresar-nombre">Añadir nombre del producto</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name='nombre'
              value="{{ parameters.datos_act.nombre_productos }}">

            <label for="ingresar-codigo">Añadir codigo del producto</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name='codigo'
              value="{{ parameters.datos_act.codigo_productos }}">

            <label for="ingresar-precio-compra">Añadir precio de compra</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" name='costo'
              value="{{ parameters.datos_act.preciocompra_productos }}">

            <label for="ingresar-precio-compra">Añadir precio de venta</label>
            <input type="text" class="form-control" id="formGroupExampleInput4" name='venta'
              value="{{ parameters.datos_act.precioventa_productos }}">

            <label for="ingresar-cantidad">Añadir categoria</label>
            <input type="text" class="form-control" id="formGroupExampleInput5" name='categoria'
              value="{{ parameters.datos_act.categoria_productos }}">

            <label for="ingresar-cantidad">Añadir cantidad</label>
            <input type="text" class="form-control" id="formGroupExampleInput5" name='cantidad'
              value="{{ parameters.datos_act.cantidad_productos }}">

              <label for="Seleccionar-Nacionalidad">Seleccionar Proveedor</label>
              <select class="custom-select custom-select-sm form-control form-control-sm" name='proveedor'>
                {%for prov in parameters.listaproveedor%}
                <option value="{{prov.codigo_proveedor}}" {%if parameters.datos_act.nombre_proveedor_id == prov.codigo_proveedor %} selected {%endif%} >
                  {{prov.nombre_proveedor}}
                </option>
                {%endfor%}
              </select>

          
                <input type="date"  id="fecha" name="fecha" class="form-control" value="{{parameters.datos_act.fecha_productos}}" style="display: none;">
           

          </div>

          <div class="clearfix mb-12 text-muted" style="display: flex;justify-content: end;padding: 1em 0;">

            <button class="btn-guardar" style="margin-right: 5px; margin-top: -1px;" type="submit">
              Guardar
            </button>
            <a href="{% url 'product' %}">
              <span>Volver</span>
            </a>
        </form>
    </div>
  </div>
</div>



</body>
<script>
  var inputFecha = "fecha"  //COLOCAR ID DEL INPUT DE FECHA
  window.onload = completarHoraInicio(document.getElementById(inputFecha))

  function completarHoraInicio(event){
      var fecha = new Date(); //Fecha actual
      var mes = fecha.getMonth()+1; //obteniendo mes
      var dia = fecha.getDate(); //obteniendo dia
      var ano = fecha.getFullYear(); //obteniendo año
      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes //agrega cero si el menor de 10
      event.value=ano+"-"+mes+"-"+dia;
  }
</script>



{%endblock%}
{%block extra%}

{%endblock%}