{%extends "index.html"%}

{%block formulario%}

{%load static%}

<!--End topbar header-->

<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lista De Usuarios
        <a href="{%url 'modusuario' 0 %}"class="guardar-producto">
          <i class="fas fa-plus-square"></i>
        </a> 
      </h5>
      <div class="table-responsive">
          <table class="table" id="datos">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Nombre Completo</th>
                <th>Tipo de Usuario</th>
                <th>Acciones</th>
              </tr>
            </thead>
              <tbody>
                {% for lista in listatabla %}
                <tr>
                  <td>{{ lista.codigo_usuario }}</td>
                  <td>{{ lista.nombre_usuario }}</td>
                  <td>{{ lista.nombre_completo_usuario }}</td>
                  <td>{{ lista.tipo_usuario }}</td>
                  <th data-sortable="" style="width:11.125%;"><a href="{% url 'modusuario' lista.codigo_usuario %}" data-toggle="tooltip" data-original-title="Editar usuario">
                    <i class="far fa-edit"></i>
                    <a href="{% url 'borusuario' lista.codigo_usuario %}" data-toggle="tooltip" data-original-title="Borrar usuario" onclick="return confirm('Esta seguro que quiere eleminiar el registor')" >
                      <i class="far fa-trash-alt"></i>
                      </a>
                  </a></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


	
  <script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>

  <script>
    function alerta() {
      if (sessionStorage.getItem('1') == 1) {
        Swal.fire({
          icon: 'success',
          title: 'Aviso',
          text: 'Registro guardado existosamente.',
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
        })
        sessionStorage.setItem('1', 0)
      }
    }
    window.onload = alerta()
  </script>
  </body>
  {%endblock%}
  
  {%block extra%}
  {% if deletconf %}
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Aviso',
      text: 'Registro Eliminado existosamente.',
      showConfirmButton: false,
      timer: 2000
    }).then(() => {
      location.href = '{% url 'verusuario' %}'
    })
  </script>
  {% endif %}
  {%endblock%}